<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Company detail: [[${company.name}]]</title>
    <link rel="stylesheet" type="text/css" href="/styles/general.css">
    <style th:inline="text">
        /* {% block styles %} */
        body {
            margin: 0;
            padding: 0;
        }
        div.details {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 20px;
            padding: 20px;
        }
        section {
            border: 1px solid #ccc;
            padding: 10px;
        }
    </style>
    <script th:inline="javascript">
    </script>
</head>
<body>
<header>
    <nav>
        <a th:href="@{/}">Home</a>
        <a th:href="@{/car}">Cars</a>
        <a th:href="@{/driver}">Drivers</a>
        <a th:href="@{/company}">Companies</a>
    </nav>
</header>

<main>
    <h1>[[${company.name}]]</h1>
    <nav class="actions">
        <ul>
            <li><a th:href="@{/company/{id}/edit(id=${company.id})}" class="main_b button">Upravit</a></li>
            <li>
                <form id="deleteForm" th:action="@{/company/{id}(id=${company.id})}" method="post">
                    <label>
                        <input th:type="submit" th:value="Smazat" class="main_b button"
                               th:data-confirm-delete="|Jsi si jistý že chceš smazat jednotku ${company.name}|"
                               onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                    </label>
                </form>
            </li>
        </ul>
    </nav>

    <div class="details">

        <section style="grid-column: 1 / span 1; grid-row: 1 / span 1;">
            <h2>detail</h2>
            <ul>
                <li>Name: [[${company.name}]]</li>
                <li>Number of products: [[${company.number_of_products}]]</li>
            </ul>
        </section>


    </div>
</main>
</body>
</html>