<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body><!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">

<body>
<header>
    <nav class="main_nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/car">Cars</a></li>
            <li><a href="/driver">Drivers</a></li>
            <li><a href="/comapny">Companies</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Editing company</h1>
    <form action="#" method="post" th:object="${company}">

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" pattern="[0-9\p{L}\s]+" minlength="3" maxlength="50" required><br>

        <label for="number_of_products">number_of_products:</label>
        <input type="number" id="number_of_products" name="number_of_products" required><br>


        <input type="submit" class="main_b button" value="Upravit">
    </form>
</main>
</body>
</html>
</html>