<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

</head>
<body>
<header>
    <nav class="main_nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/car">Cars</a></li>
            <li><a href="/driver">Drivers</a></li>
            <li><a href="/company">Companies</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Companies</h1>
    <table class="main_table">
        <thead>
        <tr>
            <th>NAME</th>
            <th>NUMBER OF PRODUCTS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company: ${companies}">
            <td>
                <a th:href="@{/company/{id}(id=${company.id})}" th:text="${company.name}"></a>
            </td>
            <td th:text="${company.number_of_products}"></td>
        </tr>
        <tr>
            <td class="last_row" colspan="2">
                <button><a th:href="@{/comapny/create}">Create company</a></button>
            </td>
        </tr>
        </tbody>
    </table>

</main>
</body>
</html>